@import '../../scss/index.scss';

.ErrorImageOverlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .ErrorImageContainer {
    display: inline-block;
    width: 1000px;
    height: 500px;
    background-image: url('../../assets/img/png/404-removebg-preview.png');
    background-size: cover;
    background-position: center;
    @media (max-width: $media-breakpoint-up-lg) {
      width: 300px;
      height: 150px;
    }
  }

  .ErrorImageText {
    font-size: 0em + 28px / $defaultFontSize;
    color: #486577;
  }
  .ErrorImageTextLink {
    font-size: 0em + 24px / $defaultFontSize;
    color: #486577;
  }
}
